#box
{

    background-color:white;
    color: rgb(255, 255, 255);
    

}
.Heading
{
    color: blue;
}
.button
{
    background-color: rosybrown;
    color: yellow;
}

#bluebutton
{
  background-color:green;
  color:white;
}

