.div
{
   background-color: yellowgreen;
   height: 100px;
   width: 100px;
   border-radius: 50%;
}
.nav
{
    background-color: grey;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo
{
    color: rosybrown;
    font-size: 25px;
    margin-right: 200px;

}
.search input
{
    padding: 5px;
    

}
.search button
{
    background-color: gray;
    border: none;
    padding: 5px 10px;
    color: white;
    
}

